* { 
    margin: 0;
    padding: 0; 
    font-family:Tahoma; 
    font-size:9pt;
}

form { 
    width: 100%; 
    height: 150px; 
}

.logo{
    margin-top: 15%;
    height: 75px;
    width: 75px;
    display: flex;
    margin-left: 48.15%;  
}

input[type="submit"]{
    width: 70px;
    height: 24px;
    border-radius: 10px;
    margin-left: 58.65%;
}

input[type="text"],input[type="password"]{
    width: 25%;
    height: 23.5px;
    border-radius: 8px;
    margin-left: 37.4%;
    margin-right: 37.4%;
    font-size: 19px;    
}
 
form p{
    font-size: 20px;
    margin-left: 37.65%;   
    margin-right: 37.65%;
}

header{
    background-color: black;
    height: 40px;
    width: 100%;
    display: flex;
    z-index: 9;
    position: fixed;
}

header img{
    height: 28px;   
    width:100%;
    padding-left: 40px;
    padding-top: 6px;
    padding-bottom: 4px;
}

header a{
    padding-bottom: 0px;
    padding-top:5px;
    list-style-type: none;
    text-decoration: none;
    font-size: 20pt;
    padding-left: 3px;
    font-family: 'Lobster';
    color: #FFFFFF
}

nav ul li{
    list-style-type: none;
    display: inline;
    color: #FFFFFF;
    font-size: 20px;
    padding-right: 40px;
}

nav a{
    text-decoration: none;
    font-size: 16pt;
    font-family: 'IBM Plex Serif';
    color: #FFFFFF;
    padding-top: 4px;
    padding-bottom: 4px
}

nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}